@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

h1 {
  color: #08a6e4;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}

h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
}

h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  width: 100%;
  display: block;
}
.header__title {
  padding: 17px 94px 17px 25px;
  display: inline-block;
}
.header__button {
  position: absolute;
  top: 29px;
  right: 29px;
}

.navbar {
  display: none;
}

.sell {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  display: block;
}
.sell h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
}
.sell__description {
  display: block;
}
.sell__description img {
  margin-top: 25px;
  margin-bottom: 15px;
}
.sell__text {
  padding: 20px 32px 34px 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.sell__text--strong {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
}
.sell__button {
  background: #08a6e4;
  border: none;
  max-width: 440px;
  width: calc(100% - 32px);
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
}
.sell__button a {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 22px 30px;
  text-align: center;
  display: inline-block;
}
.sell__img {
  margin-top: 51px;
  margin-bottom: 13px;
  display: inline-block;
  width: 100%;
  height: 267px;
  background-image: url("./img/background.png");
}
.sell h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.articles {
  background: #f7f7f7;
  padding: 42px 30px 23px 30px;
  text-align: start;
}
.articles__item {
  background: #ffffff;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  padding-top: 12px;
  margin-bottom: 41px;
}
.articles__item h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  padding-left: 21px;
  margin-top: 26px;
}
.articles__item__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 18px 21px 25px 21px;
}
.articles__item--trumpet {
  background-color: #55dfb4;
  width: 100%;
  height: 100%;
}
.articles__item img {
  width: 100%;
  height: 100%;
}

.price {
  padding: 51px 41px 36px 41px;
}
.price__success {
  list-style-image: url("./img/successMark.svg");
}
.price__fail {
  list-style-image: url("./img/failMark.svg");
}
.price__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 14px;
}
.price__section {
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 18px;
}
.price__section button {
  border-radius: 23px;
  padding: 16px 57px;
  border: none;
}
.price__section button a {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  padding: 16px 57px;
}
.price__section--red {
  padding-top: 25px;
  border: 1px solid #fb3b64;
  border-radius: 18px;
  display: block;
  padding-bottom: 2rem;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.price__section--red .container {
  display: flex;
  place-items: center;
  gap: 1rem;
}
.price__section--red .container__title {
  padding-left: 25px;
  margin-right: 23px;
  text-align: center;
}
.price__section--red .container__title h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
}
.price__section--red .container__title p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #fb3b64;
}
.price__section--red .container li {
  text-align: start;
  margin-bottom: 20px;
}
.price__section--red .container li p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.price__section--red button {
  position: absolute;
  bottom: -20px;
  background: #fb3b64;
  border-radius: 23px;
  padding: 16px 57px;
  border: none;
}
.price__section--red button a {
  color: #fff;
}
.price__section--blue {
  padding-top: 25px;
  border: 1px solid #08a6e4;
  border-radius: 18px;
  display: block;
  padding-bottom: 2rem;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.price__section--blue .container {
  display: flex;
  place-items: center;
  gap: 1rem;
}
.price__section--blue .container__title {
  padding-left: 25px;
  margin-right: 23px;
  text-align: center;
}
.price__section--blue .container__title h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
}
.price__section--blue .container__title p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #08a6e4;
}
.price__section--blue .container__title #limited {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #13253b;
}
.price__section--blue .container li {
  text-align: start;
  margin-bottom: 20px;
}
.price__section--blue .container li p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.price__section--blue button {
  position: absolute;
  bottom: -20px;
  background: #08a6e4;
  border-radius: 23px;
  padding: 16px 57px;
  border: none;
}
.price__section--blue button a {
  color: #fff;
}
.price__section--green {
  padding-top: 25px;
  border: 1px solid #55dfb4;
  border-radius: 18px;
  display: block;
  padding-bottom: 2rem;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.price__section--green .container {
  display: flex;
  place-items: center;
  gap: 1rem;
}
.price__section--green .container__title {
  padding-left: 25px;
  margin-right: 23px;
  text-align: center;
}
.price__section--green .container__title h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253b;
}
.price__section--green .container__title p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #55dfb4;
}
.price__section--green .container__title #limited {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #13253b;
}
.price__section--green .container li {
  text-align: start;
  margin-bottom: 20px;
}
.price__section--green .container li p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.price__section--green button {
  position: absolute;
  bottom: -20px;
  background: #55dfb4;
  border-radius: 23px;
  padding: 16px 57px;
  border: none;
}
.price__section--green button a {
  color: #fff;
}

.contact {
  padding: 0 30px 0 30px;
  max-width: 100%;
}
.contact__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}
.contact__address {
  margin-top: 38px;
  margin-bottom: 56px;
}
.contact__address__container {
  display: flex;
  align-content: center;
}
.contact__address__container img {
  margin-right: 11px;
}
.contact__address a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #a5a5a5;
}
.contact__form label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08a6e4;
}
.contact__form input {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #95989a;
}
.contact__form__policy {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact__form__policy #policy {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}
.contact__form__policy input {
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.contact__form button {
  border: none;
  color: #ffffff;
  margin-top: 31px;
  margin-bottom: 44px;
  padding: 20px 97px;
  background: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
}

.footer {
  display: flex;
  padding: 23px 0px 21px 17px;
  background: #f7f7f7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.footer__title h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #08a6e4;
}
.footer__title p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #a5a5a5;
}
.footer__links {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  gap: 1rem;
}

.scroll__up {
  position: fixed;
  background-color: white;
  right: 1rem;
  bottom: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #08a6e4;
  transition: 200ms;
  z-index: 2;
}
.scroll__up__icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #08a6e4;
  stroke: #08a6e4;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.scroll__up__icon:hover {
  stroke: white;
}
.scroll__up:hover {
  background-color: #08a6e4;
  fill: white;
  stroke: white;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    padding-right: 7rem;
    padding-left: 7rem;
  }
  .header__button {
    display: none;
  }
  .header__title {
    flex-grow: 1;
  }
  .header .navbar {
    display: flex;
    place-items: center;
  }
  .header .navbar__list ul {
    place-items: center;
    display: flex;
    gap: 5rem;
  }
  .header .navbar__list ul li {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: #a5a5a5;
  }
  .header .navbar__list ul li :hover {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 4px solid #08a6e4;
  }
  main {
    padding-top: 8rem;
  }
  .sell__img {
    background-image: url("./img/desktopBackground.png");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 594px;
  }
  .sell__container {
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 10rem;
  }
  .articles {
    padding: 105px 252px;
  }
  .articles__item {
    display: flex;
    height: 370px;
    place-items: center;
  }
  .articles__item__title--red:after {
    content: "";
    display: block;
    margin: 0 1rem;
    width: 324px;
    padding-top: 20px;
    border-bottom: 4px solid #fb3b64;
  }
  .articles__item__title--blue:after {
    content: "";
    display: block;
    margin: 0 1rem;
    width: 324px;
    padding-top: 20px;
    border-bottom: 4px solid #08a6e4;
  }
  .articles__item__title--green:after {
    content: "";
    display: block;
    margin: 0 1rem;
    width: 324px;
    padding-top: 20px;
    border-bottom: 4px solid #55dfb4;
  }
  .articles__item img {
    object-fit: contain;
  }
  .price__title {
    margin-bottom: 3rem;
  }
  .price__sections__container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
  }
  .price__sections__container .container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 372px;
    margin-bottom: 2rem;
  }
  .price__sections__container .container__title {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .price__sections__container .container ul {
    place-items: center;
  }
  .contact {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
  }
  .contact address {
    justify-content: flex-start;
    display: flex;
    gap: 2rem;
  }
  .contact form {
    max-width: 30%;
  }
  .footer {
    display: flex;
    place-items: center;
    padding: 1rem 8rem;
  }
  .footer__title {
    flex-grow: 1;
  }
  .footer__links {
    justify-content: flex-end;
  }
  .scroll__up {
    position: fixed;
    background-color: white;
    right: 1rem;
    bottom: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #08a6e4;
    transition: 200ms;
    z-index: 2;
  }
  .scroll__up__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #08a6e4;
    stroke: #08a6e4;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .scroll__up__icon:hover {
    stroke: white;
  }
  .scroll__up:hover {
    background-color: #08a6e4;
    fill: white;
    stroke: white;
  }
}

/*# sourceMappingURL=styles.css.map */
